@import (reference) './common.less';

body {
  margin: 0 !important;
}

.manager-wrapper {
  height: 100vh;
  min-width: 1000px;
  display: grid;
  grid-template-rows: 50px auto;
  .manager-container {
    display: grid;
    height: 100%;
    grid-template-columns: 240px auto;
  }
  .side-bar {
    display: inline-block;
    height: 100%;
    background: #e4e4e4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;

    .project {
      width: 230px;
      margin-top: 12px;
      margin-bottom: 12px;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 8px;
      margin-left: auto;
      margin-right: auto;

      .project-icon {
        cursor: pointer;
        display: inline-block;
        width: 20px;
        height: 20px;
        .background( 'icon-project-directory.png');
        vertical-align: middle;
      }

      .project-name {
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        margin-left: 8px;
        font-size: 20px;
        font-weight: 400;
      }

      .project-terminal {
        cursor: pointer;
        display: inline-block;
        width: 15px;
        height: 12px;
        .background( 'icon-terminal.png');
        vertical-align: middle;
        margin-left: 5px;
      }

      .action-panel {
        margin-top: 8px;

        button {
          cursor: pointer;
          border: none;
          padding: 8px;
          border-radius: 8px;
          font-size: 12px;
          margin-right: 8px;
          color: #fff;
        }

        .action-serve {
          color: #212529;
          background: #ffc107;
        }

        .action-build {
          background: #007bff;
        }

        .action-publish-inte {
          background: #17a2b8;
        }

        .action-publish-prod {
          background: #6c757d;
        }

        .action-zip {
          background: #28a745;
        }
      }
    }

    .active-project {
      background: #eeeeee;
    }
  }

  .manager-panel {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    .project-icon {
      cursor: pointer;
      display: inline-block;
      width: 20px;
      height: 20px;
      .background( 'icon-project-directory.png');
      vertical-align: middle;
    }

    .project-terminal {
      cursor: pointer;
      display: inline-block;
      width: 15px;
      height: 12px;
      .background( 'icon-terminal.png');
      vertical-align: middle;
      margin-left: 5px;
    }

    .action-panel {
      margin-top: 8px;

      button {
        cursor: pointer;
        border: none;
        padding: 8px;
        border-radius: 8px;
        font-size: 12px;
        margin-right: 8px;
        color: #fff;
      }

      .action-serve {
        color: #212529;
        background: #ffc107;
      }

      .action-build {
        background: #007bff;
      }

      .action-publish-inte {
        background: #17a2b8;
      }

      .action-publish-prod {
        background: #6c757d;
      }

      .action-zip {
        background: #28a745;
      }
    }
  }
}