@import (reference) './common.less';

.fuse-search {
  position: absolute;
  display: inline-block;
  right: 8%;
  top: 50%;
  .transform(0, -50%);
  
  #fuseSearch {
    width: 200px;
    height: 30px;
    border-radius: 8px;
    border: none;
    padding-left: 5px;
    font-size: 14px;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 14px;
    color: #999999;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-size: 14px;
    color: #999999;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-size: 14px;
    color: #999999;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-size: 14px;
    color: #999999;
  }
}