.manager-header {
  height: 50px;
  box-sizing: border-box;
  .manager-title {
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
    color: #ffffff;
    margin-left: 10px;
    line-height: 50px;
  }
}