@import (reference) './common.less';

.manager-panel {
  display: inline-block;
  height: auto;
  vertical-align: top;
  overflow-y: scroll;

  .modules-list {
    padding-left: 10px;
    padding-top: 20px;

    .module {
      margin-bottom: 20px;

      .module-icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        .background( 'icon-folder-gray.png');
        vertical-align: middle;
        cursor: pointer;
      }

      .module-name {
        display: inline-block;
        color: #318292;
        font-size: 18px;
        padding-left: 8px;
        vertical-align: middle;
        cursor: pointer;

        .last-half {
          color: #f4f0e7;
          font-weight: bold;
        }
      }

      .module-action {
        margin-top: 8px;
        padding-left: 28px;
    
        button {
          cursor: pointer;
          border: none;
          padding: 8px;
          border-radius: 8px;
          font-size: 12px;
          margin-right: 8px;
          color: #fff;
          opacity: 0.2;
        }

        button:hover {
          opacity: 1;
        }
    
        .action-serve {
          color: #212529;
          background: #ffc107;
        }
    
        .action-build {
          background: #007bff;
        }
    
        .action-publish-inte {
          background: #17a2b8;
        }
    
        .action-publish-prod {
          background: #6c757d;
        }
    
        .action-zip {
          background: #28a745;
        }
      }

    }
  }
}
